<div class="container">
    <ol class="breadcrumb">
        <li><a href="/courses/"><%= gettext('Courses') %></a></li>
        <% if(editing){ %>
            <li><a href="/courses/<%= id %>/"><%= name %></a></li>
            <li class="active"><%= gettext('Edit') %></li>
        <% } else { %>
            <li class="active"><%= gettext('Create') %><button>aaaa</button></li>
        <% } %>
    </ol>
    <div class="page-header">
        <h1 class="hd-1 emphasized">
            <button>bbbb</button>
            sdafdsafdasfdasfas
        </h1>
    </div>

    <div class="course-form-outer"></div>
</div>
